<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Calculator</title>
  <link rel="stylesheet" href="./assets/css/styles.css" />
</head>
<body>
  <div class="wrapper">
    <div class="calculator-container">
      <div class="calculator-display">
        <button class="clear"></button>
        <div class="calculator-display__input"></div>
      </div>
      <div class="calculator-keyboard-wrapper">
        <div class="calculator-keyboard">
          <script type="text/html" class="calculator-template">
            <% 
              _.forEach(buttons, function(button, index) {
            %>
              <button class="button <%- button.class %>" value="<%- index %>"><%- button.text %></button>
            <%
              });
            %>
          </script>
        </div>
      </div>
    </div>
  </div>

  <script data-main="scripts/app" src="./js/require.js"></script>  
  <script type="text/javascript" src="./js/config.js"></script>
</body>
</html>